.jumbotron{
    background-color:rgb(216, 190, 73);
    color: white;
    text-align: center;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(216, 190, 73);
    margin-bottom: 0;
    margin-top: 20px;
    color: white;
}

.btn-reserva{
    width: 100%;
}

a{
    color:white;
}